*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
body{

    background-color: #0d0e0d;
    background: linear-gradient(to right,#0a0a0a,#030303);
}
.container{
        background: transparent;
        width: 450px;
        padding: 1.5rem;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 0 25px 35px rgba(12, 60, 6, 0.9);
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
    color:  rgb(6, 234, 59);

}
input{
    color: white;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #528922;
    padding-left: 1.5rem;
    font-size: 15px;
    font-family: 'poppins',sans-serif;

}
.input-group{

    padding: 1% 0;
    position: relative;
}
.input-group i{
    position: absolute;
    color: white;

}
input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(116, 90%, 28%);

}
input::placeholder{
    color: transparent;
}
label{
    color: white;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;

}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -3em;
    color: hsl(120, 90%, 28%);
    font-size: 15px;

}
.recover{
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;

}
.recover a{
    text-decoration: none;
    color:  rgb(6, 234, 59);
}
.recover a:hover{
    color: green;
    text-decoration: underline;

}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(6, 234, 59);
    color: rgb(14, 14, 14);
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: green;
}
.Or{
    color:  rgb(6, 234, 59);
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;  
}
.icons{
    text-align: center;
}
.icons i{
    color:  rgb(6, 234, 59);
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid  rgb(6, 234, 59);
    margin: 0 15px;
    transition: 1s;
}
.icons i:hover{
    background:green;
    font-size: 1.6rem;
    border: 2px solid green;
}
.links{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    margin-top: 0.9rem;
    font-weight: bold;
   color:  rgb(6, 234, 59);
}
button{
    color:  rgb(6, 234, 59);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;

}
button:hover{
    text-decoration: underline;
    color:green;


}
